.content {
  display: flex;
  flex-direction: column;
}

.content__seccion {
  margin: auto;
  margin-top: 40px;
}

@media screen and (max-width: 950px) {
  .content__seccion {
    padding: 0 20px;
  }
}
