.elements {
  width: 100%;
  max-width: 880px;
}

.elements__photos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-auto-rows: 361px;
}

/* photo */

.elements__photo-content-image {
  width: 100%;
  height: 282px;
}

.elements__photo-about {
  width: 100%;
  height: calc(100% - 282px);
}
