.elements {
  width: 100%;
  max-width: 880px;
}

.elements__photos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-auto-rows: 361px;
  gap: 17px 20px;
}

/* photo */

.elements__photo-content-image {
  width: 100%;
  height: 282px;
}

.elements__photo-about {
  width: 100%;
  height: calc(100% - 282px);
}

/* ........ media query max-width 950px ......... */

@media screen and (max-width: 950px) {
  .elements {
    width: auto;
  }
  .elements__photos {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}

/* ........ media query max-width 950px ......... */

@media screen and (max-width: 645px) {
  .elements__photos {
    grid-template-columns: repeat(2, 235px);
    justify-content: center;
    gap: 15px;
  }
}
