.icon {
  padding: 8px 10px;
  color: #ffffff;
  stroke: #ffffff;
  border: 1px solid #ffffff;
  overflow: hidden;
  background-color: #000;
}

.icon__image {
  object-fit: cover;
  object-position: center;
}
