.mobal {
  width: 430px;
  padding: 34px 35px;
  border-radius: 10px;
  background-color: #ffffff;
}

.mobal__title {
  margin-bottom: 54px;
  font-size: 24px;
  font-weight: 900;
}

.mobal__form {
  display: flex;
  flex-direction: column;
}

.mobal__form-input {
  padding: 5px;
  margin-bottom: 30px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid gray;
}

.mobal__button-submit {
  width: 100%;
  padding: 15px 16px;
  color: #ffffff;
  border-radius: 0;
  background-color: #000;
}

.mobal__icon-close {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: -15%;
  right: -8%;
}

.mobal__icon-close-image {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}
