.mobal {
  width: 430px;
  padding: 34px 35px;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
}

.mobal__title {
  margin-bottom: 54px;
  font-size: 24px;
  font-weight: 900;
}

.mobal__form {
  display: flex;
  flex-direction: column;
}

.mobal__form-input {
  padding: 5px;
  margin-bottom: 30px;
}

.mobal__button-submit {
  width: 100%;
  padding: 15px 16px;
  color: #ffffff;
  border-radius: 0;
  background-color: #000;
}
