.mobal {
  width: 100%;
  height: 100vh;
  background-color: #00000054;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.mobal--active {
  display: flex;
}

.mobal__card {
  width: 430px;
  padding: 34px 35px;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
}

.mobal__title {
  margin-bottom: 54px;
  font-size: 24px;
  font-weight: 900;
}

.mobal__form {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.mobal__form-field-set {
  display: flex;
  flex-direction: column;
}

.mobal__form-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 30px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid gray;
}

.mobal__button-submit {
  border-radius: 0;
  transition: all 0.1s;
}

.mobal__button-submit:hover {
  background-color: #000000c5;
}

.mobal__icon-close {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: -15%;
  right: -8%;
}

.mobal__icon-close-image {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

/* ........ media query max-width 645px ......... */

@media screen and (max-width: 645px) {
  .mobal__icon-close {
    top: -20%;
    right: 0%;
  }
}

/* ........ media query max-width 545px ......... */

@media screen and (max-width: 545px) {
  .mobal__card {
    margin: 0 20px;
  }

  .mobal__title {
    font-size: 18px;
  }

  .mobal__button-submit,
  .mobal__form-input {
    font-size: 14px;
  }

  .mobal__icon-close {
    width: 26px;
    height: 26px;
    top: -15%;
    right: 0%;
  }
}
