.page {
  min-width: 100%;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-variation-settings: "slnt" 0;
  background-color: #000;
  display: inline-block;
}

.page__header {
  margin: auto;
  margin-top: 45px;
}

/* ........ media query max-width 950px ......... */

@media screen and (max-width: 950px) {
  .page__header {
    margin: 0;
    margin-top: 45px;
    padding: 0 20px;
  }
}
