.page {
  min-width: 100%;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-variation-settings: "slnt" 0;
  background-color: #000;
  display: inline-block;
}

.page__header {
  margin: auto;
  margin-top: 45px;
}

.page__footer {
  margin: 67px auto 60px;
}

/* ........ media query max-width 950px ......... */

@media screen and (max-width: 950px) {
  .page__header {
    margin-left: 20px;
    margin-right: 20px;
  }
  .page__footer {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* ........ media query max-width 800px ......... */

@media screen and (max-width: 800px) {
  .page__header {
    margin: 45px 0 0;
    padding: 0 20px;
  }
}
