.photo {
  width: 100%;
  max-width: 300px;
  height: 361px;
  border-radius: 10px;
  position: relative;
}

.photo__content-image {
  width: 100%;
  height: 282px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.photo__image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center center;
}

.photo__about {
  width: 100%;
  height: calc(361px - 282px);
  padding-left: 21px;
  padding-right: 15px;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo__title {
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.photo__icon-love {
  width: 21px;
  height: 19px;
  padding: 0;
  margin-left: auto;
  border: 0;
  overflow: visible;
  background: none;
  flex-flow: 1;
  position: relative;
}
.photo__icon-love:hover .photo__icon-love-image {
  display: none;
}
.photo__icon-love-image_hover {
  display: none;
}
.photo__icon-love:hover .photo__icon-love-image_hover {
  display: inline-block;
}

.photo__icon-love:active .photo__icon-love-image,
.photo__icon-love-image_hover {
  display: none;
}

.photo__icon-love-image_active {
  display: none;
}

.photo__icon-love:active .photo__icon-love-image_active {
  display: inline-block;
}

/* ........ media query max-width 950px ......... */

@media screen and (max-width: 800px) {
  .photo__title {
    font-size: 20px;
  }
}

/* ..... button delete ..... */

.photo__icon-delete {
  border: 0;
  padding: 0;
  width: 20px;
  font-size: 20px;
  display: none;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
}

.photo:hover .photo__icon-delete {
  display: inline-block;
}
