.photo {
  width: 100%;
  max-width: 300px;
  height: 361px;
  border-radius: 10px;
}

.photo__content-image {
  width: 100%;
  height: 282px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.photo__image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center center;
}

.photo__about {
  width: 100%;
  height: calc(361px - 282px);
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo__title {
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.photo__like {
  height: max-content;
  flex-flow: 1;
}
