.poppa {
  width: 100%;
  height: 100vh;
  background-color: #00000054;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.poppa--active {
  display: flex;
}

.poppa__content-image {
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
}

.poppa__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* .... button close .... */

.poppa__icon-close {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: -45px;
  right: -45px;
}

.poppa__icon-close-image {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}
/* ........ media query max-width 645px ......... */

@media screen and (max-width: 645px) {
  .poppa__icon-close {
    top: 3%;
    right: 10%;
  }
}
