.profile {
  width: 100%;
  max-width: 880px;
  display: flex;
  align-items: center;
}

.profile__content-image {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  border-radius: 50%;
}

.profile__image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center;
}

.profile__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

.profile__content-username-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 18px;
}

.profile__buton-update-profile {
  width: 24px;
  height: 24px;
  padding: 0;
  color: #ffffff;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__button-add-target {
  padding: 12px 80px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0;
  background-color: transparent;
}

.profile__name {
  font-size: 42px;
  font-weight: 500;
}

.profile__stete {
  font-size: 18px;
}

.profile__button-add-target {
  height: max-content;
  margin-left: auto;
}
