.profile {
  width: 100%;
  max-width: 880px;
  background-color: red;
  display: flex;
}

.profile__content-image {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  border-radius: 50%;
}

.profile__image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center;
}

.profile__button-add-target {
  height: max-content;
  margin-left: auto;
}
